<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879275794342-3qlp7nv8dfas7gcd2s76d09ggqjtomog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879275794342-3qlp7nv8dfas7gcd2s76d09ggqjtomog</string>
	<key>API_KEY</key>
	<string>AIzaSyAT11jMFGFgUuD6crBQvwzHZWZWjgrb3B8</string>
	<key>GCM_SENDER_ID</key>
	<string>879275794342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>itpdemofall2021</string>
	<key>STORAGE_BUCKET</key>
	<string>itpdemofall2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879275794342:ios:36fb5e6273d2e7a4913967</string>
</dict>
</plist>